{
  "mapping": "mapping.csv",
  "plotly_template": "plotly_dark",
  "output":"output",
  "data": "Data",
  "input_csv":"Data/intake_questionnaire.csv",
  "post_input_csv":"Data/post_experiment_questionnaire.csv",
  "separate_lab": 0,
  "smoothen_signal": 1,
  "freq": 120,
  "mincutoff": 0.1,
  "beta": 0.1,
  "dcutoff": 1.0,
  "font_family": "Open Sans, verdana, arial, sans-serif",
  "font_size": 12,
  "p_value": 0.001
}
